<ion-content [fullscreen]="true" class="ion-padding">
    <div class="splash">
        <img src="assets/splasher/3.jpg" alt="" srcset="">
    </div>
    <ion-grid class="h-full flex ion-justify-content-center ion-align-items-center">
        <ion-row>
            <ion-col size="12">
                <ion-img src="assets/icon/logo.png" class="w-50 mx-auto"></ion-img>
            </ion-col>
            <ion-col size="12">
                <p class="text-white text-center font-xl bold">
                    "Jika Anda ingin mengetahui masa depan, pelajarilah masa lalu.
                </p>
                <div class="text-white text-center italic">- Confucius -</div>
            </ion-col>
            <ion-col size="12">
                <ion-button mode="ios" expand="block" (click)="next()">Selanjutnya</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>