<ion-row>
  <ion-col size="12">
    <ion-input label="Nama" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  </ion-col>
  <ion-col size="12">
    <ion-input label="No Telpon" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  </ion-col>
  <ion-col size="12">
    <ion-input label="Alamat" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  </ion-col>
  <ion-col size="12">
    <ion-input label="Kota" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  </ion-col>
  <ion-col size="12">
    <ion-button mode="ios" expand="block">Simpan</ion-button>
  </ion-col>
</ion-row>