<ion-content [fullscreen]="true">
  <div class="position-relative">
    <ion-button class="position-absolute top-0 right-0 mt-1 me-1 vt" mode="ios" size="small">
      Virtual Tour
    </ion-button>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  </div>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button fill="clear" size="small" class="ion-no-border" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>