<ion-content [fullscreen]="true">
  <div class="position-relative">
    @if(historicSite()?.vt){
    <ion-button class="position-absolute top-0 right-0 mt-1 me-1 vt must-on-top" mode="ios" size="small"
      (click)="openVirtualTour()">
      Virtual Tour
    </ion-button>
    }

    <swiper-container [modules]="swiperModules" [loop]="true">
      @for (item of images(); track $index) {
      <swiper-slide>
        <img alt="Silhouette of mountains" [src]="item" />
      </swiper-slide>
      }
    </swiper-container>
  </div>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>{{ historicSite()?.name }}</ion-card-title>
      <ion-card-subtitle>{{ historicSite()?.category?.name }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p [innerHTML]="historicSite()?.description"></p>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button fill="clear" size="small" class="ion-no-border" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-button mode="ios" expand="block" (click)="navigate()">
    <ion-icon slot="start" name="navigate-outline"></ion-icon>
    Menuju Lokasi
  </ion-button>
</ion-footer>