<ion-card mode="ios" class="ion-no-margin ion-no-padding ion-no-border" (click)="detail()">
  <ion-card-content class="py-1 px-1">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="4">
          <div class="thumb">
            <img alt="Silhouette of mountains" [src]="image()" loading="lazy" />
          </div>
        </ion-col>
        <ion-col size="8" class="pl-1">
          <ion-card-title class="font-md mb-2">{{ news()?.title?.substring(0, 45) }}..</ion-card-title>
          <ion-card-subtitle>{{ news()?.created_at | date: 'dd MMMM yyyy' }}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>