<ion-card mode="ios" class="ion-no-margin ion-no-padding mx-1">
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"
    (click)="detail()" />
  <ion-card-header class="px-1-5" (click)="detail()">
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="px-1 py-1">
    <ion-button size="small" mode="ios" slot="icon-only">
      <ion-icon name="basket-outline"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>