<ion-card mode="ios" class="ion-no-margin ion-no-padding mx-1">
  <img alt="Silhouette of mountains" [src]="image()" (click)="detail()" />
  <ion-card-header class="px-1-5" (click)="detail()">
    <ion-card-title>{{ product()?.name }}</ion-card-title>
    <ion-card-subtitle>{{ product()?.price | currency:'IDR':'symbol':'4.0-3' }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="px-1 py-1">
    <ion-button size="small" mode="ios" slot="icon-only">
      <ion-icon name="basket-outline"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>