<ion-content [fullscreen]="true" color="light">
  <div id="mapbox-container"></div>

  <ion-grid class="position-fixed top-0 left-0 w-full">
    <ion-row>
      <ion-col size="12" class="flex ion-justify-content-end">
        <div class="grid-mode">
          <ion-icon name="grid-outline" color="medium" class="grid"></ion-icon>
          <ion-toggle [enableOnOffLabels]="true" [checked]="gridMode()" mode="ios"
            (ionChange)="toggleGridMode($event)"></ion-toggle>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar id="search-modal" placeholder="Cari Situs" class="searchbar" mode="md"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="category-modal">
    <ion-fab-button mode="ios">
      <ion-icon src="assets/icon/ui-radios-grid.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="category-modal" mode="md" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.9]"
    (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>Kategori</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          @for (category of categories(); track $index) {
          <ion-item button="true">
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-checkbox [value]="category.id" mode="ios" [checked]="selectedCategories().includes(category.id)"
              (ionChange)="toggleCategory($event)"> {{
              category.name }}</ion-checkbox>
          </ion-item>
          } @empty {
          <ion-item>
            <ion-label>Belum ada kategori</ion-label>
          </ion-item>
          }
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #searchModal trigger="search-modal" mode="md" class="filled-modal">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>Cari Situs</ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="searchModal.dismiss()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-searchbar placeholder="Cari Situs" class="searchbar" mode="md"
                (ionInput)="searchHistoricSite($event)" [debounce]="400"></ion-searchbar>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list lines="full">
          @for (site of sites(); track $index) {
          <ion-item button (click)="selectSite(site)">
            <ion-label>{{ site.name }}</ion-label>
          </ion-item>
          }
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>