<ion-header [translucent]="true" class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title>
      Produk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row>
      @for (product of products(); track $index) {
      <ion-col size="6">
        <app-product-card [product]="product"></app-product-card>
      </ion-col>
      } @empty {
      <ion-col size="12">
        <app-not-found></app-not-found>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>