<ion-row>
  <ion-col size="12">
    <ion-input label="Password Lama" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  </ion-col>
  <ion-col size="12">
    <ion-input label="Password Baru" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  </ion-col>
  <ion-col size="12">
    <ion-input label="Konfirmasi Password" label-placement="floating" fill="outline"
      placeholder="Enter text"></ion-input>
  </ion-col>
  <ion-col size="12">
    <ion-button mode="ios" expand="block">Simpan</ion-button>
  </ion-col>
</ion-row>