<ion-header [translucent]="true" class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="logo">
            <img src="assets/logo.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-input formControlName="email" label="Email" label-placement="stacked" fill="outline"
            placeholder="email@domain.com"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input formControlName="name" label="Nama" label-placement="stacked" fill="outline"
            placeholder="Nama"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input formControlName="phone" label="No Telpon" label-placement="stacked" fill="outline"
            placeholder="No Telpon"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input formControlName="address" label="Alamat" label-placement="stacked" fill="outline"
            placeholder="Alamat"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input formControlName="city" label="Kota" label-placement="stacked" fill="outline"
            placeholder="Kota"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input formControlName="password" label="Password" label-placement="stacked" fill="outline"
            placeholder="Password"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input formControlName="confirm_password" label="Konfirm Password" label-placement="stacked"
            fill="outline" placeholder="Konfirm Password"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-checkbox formControlName="terms" mode="ios"></ion-checkbox>
          <ion-label class="ion-text-wrap">
            Saya setuju dengan <a id="terms-modal-register" (click)="$event.stopPropagation()">syarat
              dan
              ketentuan</a>
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-button mode="ios" expand="block" [disabled]="!form.valid" (click)="register()">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-modal trigger="terms-modal-register">
    <ng-template>
      <ion-header class="ion-no-border" mode="md">
        <ion-toolbar>
          <ion-title>Syarat dan Ketentuan</ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="termsModalRegister.dismiss()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" color="light">
        <p [innerHTML]="privacyPolicy()?.content"></p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>