.grid-mode {
    background-color: #E9E9E9;
    border-radius: 20px;
    padding-left: 1.7rem;
    height: 30px;
    margin-top: 1rem;
    margin-right: 0.5rem;

    ion-icon.grid{
        position: absolute;
        margin-top: 7px;
        margin-left: -18px;
    }
}
