<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="flex ion-justify-content-between">
        <ion-title class="mt-3 mb-1">Tersematkan</ion-title>
        <div class="grid-mode">
          <ion-icon name="grid-outline" color="medium" class="grid"></ion-icon>
          <ion-toggle [enableOnOffLabels]="true" [checked]="gridMode()" mode="ios"
            (ionChange)="toggleMapsMode($event)"></ion-toggle>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10">
        <app-pinned-card></app-pinned-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-title class="mt-3 mb-1">Populer</ion-title>
      </ion-col>
      <ion-col size="6">
        <app-popular-card></app-popular-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-title class="mt-3 mb-1">Jelajahi</ion-title>
      </ion-col>
      <ion-col size="12">
        <app-general-card></app-general-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>