<ion-content [fullscreen]="true">
  <img alt="Image Product" [src]="images()[0]" />

  <ion-card mode="ios" class="mt-0 py-0">
    <ion-card-header class="mt-0 py-0">
      <ion-card-title>{{ product()?.name }}</ion-card-title>
      <h1 class="font-lg bold">{{ product()?.price | currency:'IDR':'symbol':'4.0-3' }}</h1>
    </ion-card-header>

    <ion-card-content>
      <p [innerHTML]="product()?.description"></p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12">

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button fill="clear" size="small" class="ion-no-border" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer class="ion-padding ion-no-border">
  <ion-button color="success" mode="ios" expand="block">
    <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
    Beli
  </ion-button>
</ion-footer>